@import 'utilities.css';

:root {
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#07606;
}

body{
    font-family: 'poppins', sans-serif;
}

*{
    padding: auto;
    -webkit-font-smoothing: antialiased;
}

header nav .left a{
    color: var(--dark);
    text-decoration: none;
    margin-right: 3rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav .right button{
    margin-right: 2rem;
}

.main .left img{
    width: 350px;
}

.main .right{
    color:var(--dark);
    margin-left: 10rem;
}

.main .right h1{
    color:var(--primary);
    font-size: 4rem; 
    font-weight: 100; 
    line-height: 1;  
    margin-bottom: 2rem;
}

.main .right p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.main .right button{
    font-size: 1rem;
}

section{
    padding:6rem 0;
}

section.about .about-me-img{
    height: 300px;
    margin-left: 20rem;
}

section.about h1{
    color: var(--primary);
    margin-bottom: 1rem;
    font-size: 2.1rem;
    margin-left: 1rem;
}

section.about h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-left: 1rem;
}

section.about p{
    font-family: 'lato', sans-serif;
    line-height: 1.9;
    display: flex;
    margin-left: 1rem;
}

section.about .socials a{
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
}

section.skills .card-wrapper .card{
    background: var(--light);
    padding: 3rem 2rem;
    position: relative;
}

section.contact .section-heading-2{
    text-align: center;
}

section.contact .section-heading-3{
    text-align: center;
}

section.contact .contact-message{
    text-align: center;
}

section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1.5rem;
}

section.contact .input-wrap-2{
    display: flex;
    flex-direction: column;
}

section.contact input{
    padding: 0.5rem;
font-size: 0.9rem;
}

section.contact .input-wrap-2 input{
    margin-bottom: 1.5rem;
}

section.contact .input-wrap-2 textarea{
    padding: 0.5rem
}

section.contact .btn-wrapper{
    text-align: center;
    margin-top: 2rem;
}

footer{
    background: var(--ternary);
    text-align: center;
    padding: 5rem 0;
}

footer .copyright{
    color: var(--dark);
    font-size: 0.8rem;
    margin-top: 2rem;
}