.flex{
    display: flex;
}

.items-centre{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.btn{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.btn-primary{
    background: var(--primary);
    color: var(--dark);
}

.btn-primary:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    padding: 0.5rem 2rem;
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover{
    background: var(--primary);
    color: var(--secondary);
}

.flex-1{
    flex:1;
}


.justify-center{
    justify-content: center;
}